[Unit]
Description=BusyLight
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/busybody/busylight.py
Restart=always

[Install]
WantedBy=multi-user.target