[Unit]
Description=BusyLight
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/busybody/busylight
ExecStart=python3 busylight.py
Restart=always

[Install]
WantedBy=multi-user.target